body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}
.error {
    background-color: pink;
    font-weight: bold;
    padding: 8px 15px;
    margin: 9px 0px;
}

a.title, a.title:visited {
    text-decoration: none;
    color: #fff
}
.container {
    min-width: 100%;
    position:absolute;
    left:0px; top:65px; bottom:0px; 
    overflow-y:auto
}

@media screen and (orientation: portrait) {
    .containerFiches {
        min-width: 100%;
        position:absolute;
        left:0px; top:65px; bottom:0px; 
        overflow-y:auto
    }

    .containerView {
        min-width: 100%;
        position:absolute; 
        top:65px; 
        bottom:0px;
        overflow-y:auto; 
        border-left: 1px solid #DDD;
        display: none;
    }
    .containerFiches.active {
        display: none;
    }

    .containerView.active {
        display: inherit;
    }
    .arrowBack {
        position: absolute;
        left: 15px;
        top: 25px; 
        display: flex;
        font-size: large;
    }
  }
  
  /* For landscape, we want the tool bar stick on the left */
  
  @media screen and (orientation: landscape) {
    .containerFiches {
        min-width: 30%;
        position: absolute;
        left:0px; top:65px; bottom:0px; 
        overflow-y:auto;
        overflow-x: hidden;
        background-color: #ccc;
    }

    .containerView {
        min-width: 60%;
        position: absolute; 
        left: 40%;
        top: 65px; 
        bottom: 0px ;
        overflow-y: auto; 
        border-left: 1px solid #DDD;
        background: #ccc;
    }
  
    .arrowBack {
        display: none;
    }
  }

  .containerFiches .activeClass {
      background-color: #ccc;
  }

  #provinciaal .visible {
      display: inherit;
  }

  #provinciaal .hidden {
      display: none;
  }